ConsoleApp2/ConsoleApp2/Connected Services/ServiceOnDb/ServiceOnDb.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Serialator" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Serialator" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Contatto">
    <xs:sequence>
      <xs:element minOccurs="0" name="BirthDay" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Cognome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberPhone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contatto" nillable="true" type="tns:Contatto" />
  <xs:complexType name="ArrayOfContatto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contatto" nillable="true" type="tns:Contatto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContatto" nillable="true" type="tns:ArrayOfContatto" />
</xs:schema>