ConsoleApp2/ConsoleApp2/Connected Services/ServiceOnDb/ServiceOnDb1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57241/ServiceOnDb.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Serialator" />
  <xs:import schemaLocation="http://localhost:57241/ServiceOnDb.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Serialator.Entities" />
  <xs:element name="GetContatto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContattoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Serialator" minOccurs="0" name="GetContattoResult" nillable="true" type="q1:Contatto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllContatti">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllContattiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Serialator" minOccurs="0" name="GetAllContattiResult" nillable="true" type="q2:ArrayOfContatto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Subscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Serialator" minOccurs="0" name="input" nillable="true" type="q3:Contatto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubscribeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertXml">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Serialator.Entities" minOccurs="0" name="xml" nillable="true" type="q4:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertXmlResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateContatto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Serialator" minOccurs="0" name="model" nillable="true" type="q5:Contatto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateContattoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateContattoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>